/* Flexbox layouts */
.container {
    margin-left: 60px;
    display: flex;
    width: 100%;
    transition: margin-left 0.5s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background: #fff;
    text-align: center;
    height: fit-content;
    max-width: none;
}

.content {
    display: none;
    padding: 20px;
    width: 100%;
}

.input-panel {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.bulk-actions {
    display: flex;
    gap: 10px;
}

#selectedPdfsList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 768px) {
    .input-panel {
        flex-direction: column;
    }
}